# Use ASN=22 for both nxos1 and nxos2
router bgp {{ local_asn }}
  router-id {{ local_ip }}
  address-family ipv4 unicast
    # Networks to potentially advertise
    {% for adv_prefix in networks %}
    network {{ adv_prefix }}
    {% endfor %}
  # Remote BGP Peers
  {% for peer in bgp_peers %}
    {% if peer.ip != local_ip %}
  neighbor {{ peer.ip }}
    remote-as {{ peer.as }}
    {{ peer.descirption }}
    address-family ipv4 unicast
      # Bind to a route-map
      route-map {{ peer.route_map }} out
    {% endif %}  
  {% endfor %}

# Route-map entries (should reference a prefix-list)
route-map RM_BGP_NXOS2_Peer permit 100
  match ip address prefix-list PL_BGP_Loopback101 

# Prefix-list entries
ip prefix-list PL_BGP_Loopback101 seq 5 permit 172.31.101.101/32